/*-------ALL PAGE--------------*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(170, 78, 22);
    background: linear-gradient(0deg, rgba(170, 78, 22, 1) 5%, rgba(208, 91, 28, 1) 17%, rgba(196, 81, 14, 1) 48%, rgba(186, 133, 99, 1) 63%, rgba(178, 184, 177, 1) 86%, rgba(212, 201, 201, 1) 100%);
}
/*-------END ALL PAGE--------------*/

/*------------HEADER----------------*/
.headers {
    text-align: center;
    padding: 5px;
    margin-top: 3em;
}
/*------------END HEADER----------------*/

/*---------PROJECT----------*/
.vl {
  border-left: 3px solid grey;
  height: 2em;
}

.icon {
    float: right;
    margin: 10px;
}
/*---------END PROJECT----------*/

.mouse_over {
    background: #f8f8ea;
}

.mouse_over:hover {
    background: #d5d365;
}

.tools {
    visibility: hidden;
}
